@import 'bootstrap-resp/stylesheets/bootstrap';

.buttonReturn{
	background-color: white; 
  	height:30px; 
  	width:30px; 
  	color: gray; 
  	border-radius: 70%;
  	background-color: #333333;
  	border-color: #333333;
}

.contenedorPrincipal{
	width: 400px; 
	height: 300px; 
	background-color:#d3fbff;
}


.pokedexPrincipalTop{
	width: 400px;
	height: 150px; 
	background-color: #CC0922;
	border-top-left-radius: 25px;
	border-top-right-radius: 25px;
}

.pokedexPrincipalButton{
	width: 400px;
	height: 150px; 
	background-color: #CC0922;
	border-bottom-left-radius: 25px;
	border-bottom-right-radius: 25px;
}

.pokedexOff{
	width: 400px;
	height: 50px; 
	background-color: #3CC1FF;
	
}

.paddingTop{
	padding-top: 20px
}

.paddingTopButtons{
	padding-top: 100px
}

.iconRepeat{
	color: #0000FF;
	background-color: #333333;
}

.iconRemove{
	color: #FF0000;
	background-color: #333333;
}

.iconGeneric{
	color: #FFFFFF;
	background-color: #7C7C7C;
}

.buttonGeneric{
	background-color: white; 
  	height:30px; 
  	width:30px; 
  	color: gray; 
  	border-radius: 70%;
  	background-color: #7C7C7C;
  	border-color: #7C7C7C;
}

.inputBusqueda{
	background-color: white;
    border-radius: 20px;
    width: 330px;
    height: 30px;
    padding-left: 10px;
}

.badge{
	background-color: #244DFD;
}

.margen{
	padding-left: 16px;
    padding-top: 16px;
    padding-right: 32px;
}

.descripcionStyle{
	padding-left: 32px;
    padding-top: 16px;
    padding-right: 32px;
    height: 40px;
}

#busqueda{
	padding-top: 8px
}

#especiesList{
	padding-top: 20px;
	padding-left: 40px;
}

#imagenPokemon{
	width: 125px;
    height: 125px;
    background-color: #3CC1FF;
}

#infoPokemon{
	padding-right: 29px;
	background-color: #3CC1FF;
}

#descriptionsPokemon{
	background-color: #3CC1FF;	
}


.colorDiv{
	background-color: #2babf6;
}